<div class= "d-flex justify-content-between m-3 border p-2">
    <div id="userLogout"><h3>Hasta Luego {{sessionUser}}</h3></div>    
<script>
        function login () {window.location = '/api';};
</script>
<script>setTimeout(login, 2000)</script>